@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontePadrao);
}

:root{
    /*Fontes*/
    --fonteDestaque:'Dancing Script', cursive;
    --fontePadrao:'Open Sans', sans-serif;
    --fonteForte:'Roboto', sans-serif;
    /*Cores*/
    --verdeFraco: #BBE0AD;
    --verdeForte: #81B377;
    --laranjaForte: #f9af69;
    --vermelho: #D77271;
    --vermelhoFraco: #ffd8d8d4;
    --azulForte: #2B4F97;
    --azulFraco: #739EF4;
    /*variavel controle*/
    --index: 40;
}
::-webkit-scrollbar{
    width: 0;
}
header{
    font-size: 1em;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 3;
    box-shadow: 1px 1px 8px var(--azulFraco);
    background-color: white;
}
header h1>img{
    border-radius: 100px;
    width:100px;
}
.iconeTopo{
    width: 100px;
    display: flex;
    justify-content: space-around;
    transition: .8s;
}
/*#mostraMenu:hover{
    color: var(--azulFraco);
    cursor: pointer;
}*/
header h1{
    font-family: var(--fonteDestaque);
    font-weight: bolder;
    color: var(--azulForte);
    text-align: center;
    display: flex;
    align-items: center;
}
.ri-moon-line,
.ri-apps-2-line{
    font-size: 40px;
}

nav{
    height: 320px;
    position: relative;
    background-color: #90b2f74e;
}

nav ul{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 400px;
    text-align: center;
    
    transform: translateX(-50%);
}


nav a{
    text-decoration: none;
    font-weight: bold;
    color: var(--azulForte);
    
}
nav a:hover{
    color: black;
    font-weight: bold;
    border-bottom: 1px dashed var(--azulForte);
    transition: border .8s;
}
nav ul{
    list-style-type: none;
}
nav ul>li{
    padding: 10px;
}
nav img{
    width: 50px;
    opacity: .7;
    position: absolute;
    bottom: 5px;
    left: 55px;
}

main{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

main section>img{
    width: 100%;
}
main section{
    text-align: center;
}
.textoIntro h2{
    font-family: var(--fonteForte);
    color: var(--laranjaForte);
    margin-top: 10px;
    padding: 30px;
}
.textoIntro p{
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 50px;
}
#btnEntrar{
    padding: 10px;
    text-decoration: none;
    background-color: var(--verdeFraco);
    text-align: center;
    border-radius: 40px;
    width: 200px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.ri-arrow-drop-right-line{
    font-size: 40px;
    transition: 1s;
}
#btnEntrar:hover{
    color: var(--verdeForte);
    border: 1px solid var(--verdeForte);
    box-shadow: 1px 1px 2px var(--verdeForte),
                -1px -1px 2px var(--verdeForte);
                font-weight: 600;
    transition: .2s;
}
#btnEntrar:hover i{
    transform: translateX(.3em);
}


#imgFolha1{
    position: absolute;
    top: 50%;
    left: 0;
    opacity: .3;
    transform: rotate(-190deg);
    width: 100px;
    z-index: 1;
}
#imgFolha2{
    position: absolute;
    bottom: 5%;
    right: 0;
    opacity: .4;
    width: 90px;
    transform: rotate(-90deg);
    z-index: 1;
}

#sobre img{
    width: 60%;
}

.blocoTexto{
    width: 80vw;
    margin: auto;
    background-color: var(--laranjaForte);
    border-radius: 20px;
    padding: 30px;
    border: 2px solid rgba(249, 198, 104, 0.751);
    margin-bottom: 10vh;
}
.blocoTexto h2{
    padding: 30px;
    font-family: var(--fonteForte);
    color: rgb(205, 77, 88);
}
.blocoTexto p{
    color: white;
}

section#campoProduto>h2{
    color: var(--azulForte);
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.482);
    padding: 30px;
    border-top: 2px solid var(--vermelho);
    box-shadow: 0px -3px 10px var(--vermelho);
    box-shadow: 0px -6px 10px var(--vermelhoFraco);
}

.cardProduto{
    width: 70vw;
    background-color: #2B4F97;
    margin: auto;
    border-radius: 20px;
    background-color: antiquewhite;
    text-align: center;
    color: var(--azulForte);
    line-height: 40px;
    margin-top: 15vh;
    margin-bottom: 5vh;
    box-sizing: border-box;
}

.cardProduto img{
    width: 60vw;
    border-radius: 10px;
    border: 2px solid antiquewhite;
    position: relative;
    top: -50px;
}
.cardProduto p{
    padding: 20px;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
    
}
.cardProduto i{
    cursor: pointer;
    font-size: 1.3em;
    text-align: center;
    display: block;
    width: 40px;
    margin: auto;
}
.cardProduto i:hover{
    color: var(--laranjaForte);
}

#local{
    background-color: ghostwhite;
    width: 100vw;
    margin: auto;
    height: 500px;
}
#local iframe{
    width: 80%;
    height: 60%;
    border: 2px solid aliceblue;
    border-radius: 5px;
    transition: 1s;
    margin: 0;
    margin-bottom: 30px;
}
#local a{
    padding: 10px;
    text-decoration: none;
    background-color: var(--vermelho);
    color: var(--vermelhoFraco);
    text-align: center;
    border-radius: 40px;
    width: 200px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
#local a:hover{
    color: white;
    border: 1px solid var(--vermelhoFraco);
    box-shadow: 1px 1px 2px var(--vermelhoFraco),
                -1px -1px 2px var(--vermelhoFraco);
    transition: .4s;
}
#local a:hover i{
    transform: translateY(-0.3em);
    transition: .5s;
}

#local h2{
    font-family: var(--fonteForte);
    color: var(--laranjaForte);
    margin-top: 10px;
    padding: 30px;
}

footer{
    margin-top: 50px;
    height: 30vh;
    background-color: var(--azulForte);
    padding: 50px;
    text-align: center;
    border-top: 2px solid var(--azulFraco);
    box-shadow: -2px -2px 4px var(--azulFraco);
}
footer h3{
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px var(--azulFraco);
}
footer i{
    color: white;
    font-size: 1.6rem;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 50%;
    transition: .6s;
}
footer i:hover{
    box-shadow: 0px 2px 1px var(--azulFraco);
    color: mediumspringgreen;
}
.redeSocial{
    margin-bottom: 20px;
}
footer p{
    color: azure;
    font-size: .7em;
}
footer img{
    width: 80px;
    
}
